<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/wings5.png" alt="Logo" class="logo" />
      </ion-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="input-container">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input
            [(ngModel)]="candidateName"
            placeholder="Enter your name"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="!candidateName && isSubmitted" class="error-message">
          Name is required.
        </div>
      </div>
      <div class="input-container">
        <ion-item>
          <ion-label>Email ID</ion-label>
          <ion-input
            [(ngModel)]="email"
            placeholder="Enter your email"
            type="email"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
        <div *ngIf="!isValidEmail(email) && isSubmitted" class="error-message">
          Valid email is required.
        </div>
      </div>
      <div class="input-container">
        <ion-item>
          <ion-label>Phone Number</ion-label>
          <ion-input
            [(ngModel)]="phoneNumber"
            placeholder="Enter your phone number"
            required
          ></ion-input>
        </ion-item>
        <div *ngIf="phoneError" class="error-message">{{ phoneError }}</div>
        <div *ngIf="!phoneNumber && isSubmitted" class="error-message">
          Phone number is required.
        </div>
      </div>
      <ion-button expand="full" (click)="register()" class="custom-button"
        >Register</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
