<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Legal Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Privacy Policy: Please read our privacy policy to understand how we
        manage your personal information.
      </p>
      <p>
        Terms of Service: Please review our terms of service for information on
        your rights and obligations.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
