<ion-content>
  <!-- Main Home Content -->
  <div class="container">
    <!-- Home Text -->
    <h1 class="home-text">Interview Companion</h1>

    <!-- Wings Image -->
    <img src="assets/wings5.png" alt="wings" class="center-image" />

    <!-- Get Started Button -->
    <ion-button
      expand="full"
      class="custom-button"
      (click)="navigateToAnotherPage()"
    >
      Get Started
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
