ion-content {
  --background: rgb(240, 244, 248); /* Blue background */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.home-text {
  color: rgb(23, 22, 22);
  font-size: 1.5rem;
  --margin-bottom: 80px;
}

.center-image {
  width: 200px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px;
}

.description-text {
  color: rgb(17, 15, 15);
  margin-bottom: 20px;
  font-size: 1.2rem;
}

ion-button {
  margin-top: 70px;
}
.custom-button {
  --background: black; /* Set the button background to black */
  --color: white; /* Set the button text color to white */
  /* Optional: set border radius */
  font-size: 1.2rem; /* Optional: adjust the font size */
  --padding-start: 16px; /* Optional: adjust padding if needed */
  --padding-end: 16px;
  width: 100%;
  //   --border-radius: 20px;
  ion-icon {
    font-size: 1.5rem; /* Adjust the size of the arrow icon */
  }
}
.custom-button {
  display: flex;
  justify-content: center; /* Center the text */
  align-items: center; /* Vertically center the content */
  text-transform: none; /* Prevent uppercase text */
  position: relative;
  border-radius: 20px;
}

.custom-button ion-icon {
  position: absolute;
  right: 16px; /* Adjust this value to push the icon to the far right */
}
