.custom-button {
  --background: black; /* Change the background color to black */
  --color: white;
  /* Optional: Change text color to white for better contrast */
  margin-top: 20px;
  margin-left: 90px;
}
.heading {
  padding-left: 16px; /* Adjust the value as needed */
}
