// .wallet-container {
//   text-align: center;
//   padding: 16px;
// }

// .wallet-container h2 {
//   margin: 16px 0;
// }

// ion-card {
//   margin: 16px 0; /* Add some space between the card and buttons */
// }

// ion-card-title {
//   font-size: 1.5em; /* Adjust font size for title */
// }

// ion-card-content {
//   display: flex;
//   justify-content: flex-start; /* Align cash amount to the left */
//   align-items: left; /* Center items vertically */
//   flex-direction: column;
//   margin-left: 10px;
//   /* Stack items vertically */
// }
ion-card-header {
  margin-left: 10px;
}
h2 {
  margin-left: 15px;
}
.cash-amount {
  font-size: 2em; /* Larger font for the balance */
  margin-left: 10px; /* Add left margin */
  margin: 0; /* Remove other margins */
}

.custom-button {
  margin-top: 10px; /* Space above the buttons */
  --background: black; /* Set background color to black */
  --color: white; /* Set text color to white */
}
.logo {
  height: 60px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}
